*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)) ,url(bc.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

 .formbox{ 
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
     padding:5px;  
    border-radius:10%; 
    box-shadow: 0 10px 20px black;
    overflow: hidden; 
}

.buttonbox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px ;
    transition: 0.5s;
}

.icon{
    display: flex;
    justify-content: center;
    /* margin:30px auto;
    text-align: center; */
}

a{
    display: flex;
    background:  whitesmoke;
    height:50px;
    width: 50px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0,0,0,0);      
    transition: 0.5s;
}

a .fa-facebook{
    font-size: 30px;
    color: #3b5998;
}



 a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -01px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.01);       
    transform: translateY(2px); 
}

a:hover i{
    transform: scale(0.80);
    transition: 0.5s;
} 

a:hover .fa-facebook{
    font-size: 30px;
    color: #3b5998;
}


.icon img{
    color: #777;
    width: 30px;
    margin: 0 10px;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    border-radius:  50%;
}

.input-group{
    top:180px;
    position: relative;
    width: 20px;
    padding: 10px;
    transition: 0.5s;
}

.input-field{

    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none ;
    background: transparent;

}
.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline:  none;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 9px #ff61241f;
}

.submit-btn:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),
                10px 12px 10px -1px rgba(0,0,0,0.05);
    transform: translateY(2px); 
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 65px;
     position: absolute ; 
}


#login {
    position: absolute;
    margin-right: 45px;
    left:50px
}

#register {
    position: absolute;
    margin-right: 45px;
    left:450px;
   
}  